page-page3 {

}
.scroll-content {
    background-color: lightgrey ;
}

.toolbar-background {

  text-align:right;
  max-height:105px;
  background-color: #13294B;
}
#NavBar{
  margin-top:10px;
  margin-bottom: auto;
  text-align:center;
  height:105px;
}
#imageNav{

  margin-bottom: auto;
  max-width: 105px;
  max-height: 105px;
}
#logoutButton{
  color: #C8102E;
}
#tripDetails{
  text-align:auto;
  height: auto;
  margin-left: auto;
  margin-right: auto;
}
#spacer
{
  text-align:center;
  margin-top:10px;
  margin-bottom:5px;
  font-size:20px;
  font-weight:bold;


}
#titleLoc
{
  border:solid;
  border-color:black;
background-color: white;
}
#dates
{
  border:solid;
  border-color: black;
  background-color: white;
}
#createTripButton
{
  padding:30px;
  font-size:20px;
  background-color:#C8102E;
}
