page-page1 {

}
.scroll-content {
    background-color: lightgrey ;
}

.toolbar-background {

  text-align:right;
  max-height:105px;
  background-color: #13294B
}
#createNewUser
{
  margin-right:auto;
  margin-left:auto;
}
#NavBar{
  margin-top:10px;
  margin-bottom: auto;
  text-align:center;
  height:105px;
}
#imageNav{

  margin-bottom: auto;
  max-width: 105px;
  max-height: 105px;
}
#Login
{
  text-align:center;
  margin-top:40px;
  color:black;
  padding:15px;
  font-size:35px;
  border-bottom:solid;
  letter-spacing:.2em;
  font-style:bold;
  border-width:2px;
  background-color: lightgrey;

}


#loginButton
{
  margin-top:80px;
  font-size:20px;
  background-color:#C8102E;
  text-align:center;
}
#createNewButton
{
  margin-top:10px;
  font-size:20px;
  background-color:#13294B;
  text-align:center;
}
#entry
{
  margin-top:50px;
  height:80px;
}
#loginContainer
{
  margin-left:auto;
  margin-right:auto;

  height:100%;
}
#info{
  border-top: solid;
  border-bottom: solid;
  border-right:solid;
  border-left: solid;
  border-width:3px;
  height: auto;
}
