page-details {

}
.scroll-content {
    background-color: lightgrey ;
}

.toolbar-background {

  text-align:right;
  max-height:105px;
  background-color: #13294B;
}
#NavBar{
  margin-top:10px;
  margin-bottom: auto;
  text-align:center;
  height:105px;
}
#imageNav{

  margin-bottom: auto;
  max-width: 105px;
  max-height: 105px;
}
#expenseHeader
{
  font-size:22px;
  text-align:left;
}
#addExpenseButton{
  background-color: #13294B;
  margin-top:20px;
  margin-left:auto;
  margin-right:auto;
  width:100%;
  padding:23px;
  font-size:18px;
}
#backButton{
  background-color: #13294B;
  margin-top:20px;
  margin-left:auto;
  margin-right:auto;
  width:100%;
  padding:23px;
  font-size:18px;
}
#finshTripButton{
  margin-top:40px;
  background-color:#C8102E;;
  padding:40px;
  font-size:30px;
  color:white;
  font-weight:bold;
  margin-bottom:30px;
}
#topTwo
{

  margin-left:20px;
  margin-right:20px;
}
#delete
{
background-color:#C8102E;
height:70%;
}
